html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 7px 40px;
  margin: 0;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
.Container{
  margin-top: 25px!important;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.add-bookmark{
  position: fixed;
  top: 10%;
  width: 50%;
  height: auto;
  padding: 25px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.add-bookmark form{
  width: 100%;
  height: auto;
}
h2{
  color: #000;
}
input{
  font-size: 16px;
  padding: 5px;
  background-color: #f1f1f1;
  border: 1px solid #EEEEEE;
  color: #000;
}
input:focus{
  outline: none;
}
.error{
  color: red;
}
.group{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button{
  padding: 10px;
  border: 1px solid #000;
}

.bookmark-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.category{
  width: 50%;
  height: auto;
  padding: 25px;
  border: 1px solid #000;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.category-button{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0px;
  color: white;
  background-color: #000;
  font-size: 22px;

}

.add-cat-popup{
  width: 50%;
  height: auto;
  padding: 50px;
  background-color: #d8d8d8;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 15px;
  top: 10%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: #FFF;
  }
}
